<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenidos a AlarmaApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-row class="ion-justify-content-center ion-padding">
    <img src="assets/icon/AppAlarma.png" class="ion-margin" width="70%" height="70%"/>
  </ion-row>
  
  <ion-row class="ion-justify-content-center ion-padding">
    <ion-title>Por favor ingrese sus datos</ion-title>
  </ion-row>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="7" class="ion-text-center ion-align-items-center">
        <ion-item class="ion-margin-bottom ion-margin-top">
          <ion-input label="Email" label-placement="floating" fill="solid" placeholder="Email" type="email"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-top">
          <ion-input label="Contraseña" label-placement="floating" fill="solid" placeholder="Contraseña" type="password"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="5" class="ion-text-center">
        <ion-button class="ion-button--round">Botón 1</ion-button>
        <ion-button class="ion-button--round">Botón 2</ion-button>
        <ion-button class="ion-button--round">Botón 3</ion-button>
        <ion-button class="ion-button--round">Botón 4</ion-button>
        <ion-button class="ion-button--round">Botón 5</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button expand="block">Ingresar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
